In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("D:\PGP DS\ML\PROJECT\CAR DETAILS.csv")

In [3]:
data

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner,60000
1,Maruti Wagon R LXI Minor,2007,50000,Petrol,Individual,Manual,First Owner,135000
2,Hyundai Verna 1.6 SX,2012,100000,Diesel,Individual,Manual,First Owner,600000
3,Datsun RediGO T Option,2017,46000,Petrol,Individual,Manual,First Owner,250000
4,Honda Amaze VX i-DTEC,2014,141000,Diesel,Individual,Manual,Second Owner,450000
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,80000,Diesel,Individual,Manual,Second Owner,409999
4336,Hyundai i20 Magna 1.4 CRDi,2014,80000,Diesel,Individual,Manual,Second Owner,409999
4337,Maruti 800 AC BSIII,2009,83000,Petrol,Individual,Manual,Second Owner,110000
4338,Hyundai Creta 1.6 CRDi SX Option,2016,90000,Diesel,Individual,Manual,First Owner,865000
4339,Renault KWID RXT,2016,40000,Petrol,Individual,Manual,First Owner,225000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   km_driven      4340 non-null   int64
 3   fuel           4340 non-null   object
 4   seller_type    4340 non-null   object
 5   transmission   4340 non-null   object
 6   owner          4340 non-null   object
 7   selling_price  4340 non-null   int64
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [20]:
x=data.iloc[:,1:-1]
y=data.iloc[:,7].values

In [21]:
x

      year  km_driven    fuel seller_type transmission         owner
0     2007      70000  Petrol  Individual       Manual   First Owner
1     2007      50000  Petrol  Individual       Manual   First Owner
2     2012     100000  Diesel  Individual       Manual   First Owner
3     2017      46000  Petrol  Individual       Manual   First Owner
4     2014     141000  Diesel  Individual       Manual  Second Owner
...    ...        ...     ...         ...          ...           ...
4335  2014      80000  Diesel  Individual       Manual  Second Owner
4336  2014      80000  Diesel  Individual       Manual  Second Owner
4337  2009      83000  Petrol  Individual       Manual  Second Owner
4338  2016      90000  Diesel  Individual       Manual   First Owner
4339  2016      40000  Petrol  Individual       Manual   First Owner

[4340 rows x 6 columns]

In [22]:
y

array([ 60000, 135000, 600000, ..., 110000, 865000, 225000], dtype=int64)

In [23]:
df=pd.get_dummies(x,drop_first=True)

In [24]:
df.shape

(4340, 13)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.25,random_state=0)

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [28]:
classifier = DecisionTreeClassifier(criterion='entropy',random_state=0)

In [29]:
classifier.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [30]:
x_test.values

array([[  2012,  70070,      1, ...,      0,      0,      0],
       [  2013,  86000,      1, ...,      0,      0,      0],
       [  2014, 120000,      0, ...,      0,      0,      1],
       ...,
       [  2014,  90000,      0, ...,      1,      0,      0],
       [  2015,  21000,      0, ...,      1,      0,      0],
       [  2013, 125531,      1, ...,      1,      0,      0]], dtype=int64)

In [31]:
y_pred=classifier.predict(x_test)

In [57]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [58]:
confusion_matrix(y_pred,y_test)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 4, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [59]:
accuracy_score(y_pred,y_test)

0.21566820276497695

In [51]:
from sklearn.ensemble import RandomForestClassifier

In [52]:
classifier = RandomForestClassifier(random_state=0)

In [53]:
classifier=RandomForestClassifier(n_estimators=20,criterion='gini',bootstrap = False,random_state=0)

In [54]:
classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=False, n_estimators=20, random_state=0)

In [55]:
y_pred=classifier.predict(x_test)

In [56]:
y_pred

array([ 735000, 1580000,  210000, ...,  190000,  550000,  210000],
      dtype=int64)

In [44]:
from sklearn.model_selection import GridSearchCV

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
classifier = RandomForestClassifier(random_state=0)

In [47]:
param_gride={'n_estimators':[10,20,25,30,75,100],
            'criterion':['entropy','gini'],
            'bootstrap':[True, False]}

In [48]:
gr=GridSearchCV(estimator = classifier, param_grid= param_gride, cv=5, n_jobs=-1)

In [49]:
gr.fit(x_train,y_train)

C:\Users\vijay\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['entropy', 'gini'],
                         'n_estimators': [10, 20, 25, 30, 75, 100]})

In [50]:
gr.best_params_

{'bootstrap': False, 'criterion': 'gini', 'n_estimators': 20}